@import "tailwindcss";

:root {
  --darkBlue: #0A2540;
  --blue: #06178b;
}

/* *{
  font-family: 'Graphik Arabic';
} */


html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.horizontal-container {
  display: flex;
  flex-wrap: nowrap;
}

.horizontal-section {
  flex: 0 0 100%;
  height: 100vh;
}



/* Custom scrollbar hiding must come after Tailwind */
html,
body {

  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;

}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}


/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


.container-box {
  @apply px-[2vw] py-[2vw]
}

.iconBtn{
  @apply lg:w-[1.2vw] lg:h-[1.2vw] w-[7.5vw] h-[4vw];
}